.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    margin-bottom: 4px;
}

form {
    display: inline-block;
}

.info-box {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1px 3px;
    background: lightgray;
}
