<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="navbar">
    <h3>Your shopping cart</h3>
  </div>
  <% if (cart.length) { %>
  Items in cart:
  <% }  else { %>
    Your cart is empty!
  <% } %>
  <ul style="margin-top: 0;">
    <% cart.forEach(item => { %>
    <li>
      <%= item.name %> - <%= item.price %>
      <form method="post" action="/remove-from-cart">
        <button type="submit" name="itemId" value=<%= item.id %>>
          Remove
        </button>
      </form>
    </li>
    <% }); %>
  </ul>
  <% if (cart.length) { %>
  Total: $<%= cart.reduce((acc, curr) => acc + parseFloat(curr.price.substring(1)*100), 0)/100 %>
  <form method="post" action="/cancel-checkout">
    <button type="submit">
      Cancel
    </button>
  </form>
  <form method="post" action="/checkout">
    <button type="submit">
      Pay
    </button>
  </form>	
  <% } %>
</body>
</html>
