<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="navbar">
    <h2>Welcome to the best online Skateboard Store!</h2>
    <form method="get" action="/cart">
      <button type="submit">
        Cart (<%= cart.length || "empty" %>)
      </button>
    </form>
  </div>
  <% if (skateboards.length) { %>
    Available skateboards:
  <% }  else { %>
    No skateboards are available at this time. Come back later for new models!
  <% } %>
  <ul style="margin-top: 0;">
    <% skateboards.forEach(item => { %>
    <li>
      <%= item.name %>
      <% if (!cart.some(i => i.id == item.id)) { %>
      <form method="post" action="/add-to-cart">
        <button type="submit" name="itemId" value=<%= item.id %>>
          Add to cart
        </button>
      </form>
      <% }  else { %>
        <div class="info-box">In cart</div>
      <% } %>
    </li>
    <% }); %>
  </ul>
</body>
</html>
