<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="navbar">
    <h3>Purchase cancelled</h3>
  </div>
  Some of your items must have been sold before your transaction went through. You have not been charged.
</body>
</html>
