<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="navbar">
    <h3>Thank you for your purchase!</h3>
  </div>
  Your skateboards will be delivered as soon as possible.
</body>
</html>
